html, body{
	height: 100%;
	background-color: #e6e9ec !important;
}

#container{
	position: absolute;
	width: 1128px;
	height: 100hv;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	background-color: red;

}

/* Left panel */

#left-panel{
	background-color: #2d2d2d;
	min-height: 100vh;
    
    webkit-box-shadow: -5px 0 15px -2px #888;
          box-shadow: -5px 0 15px -2px #888;
}


#picture-container{
    padding-top: 30px;
}

#picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}


#info-container{
    color: #fff;
    
    margin: auto;
    padding-left: 10%;
    width: 100%;
    
    padding-top: 20px;
    
    
    font-family: 'Raleway';
}

#info{
    
}

#info h4 {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
    
    letter-spacing: 2px;
    
}

#social-info h4{
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
    
    letter-spacing: 2px;
}



#info span{
    color: #fff;
}

#social-info a{
    
}

.info-title{
    
}

.social-title{
    
}

.info-details{
    color: whitesmoke;
    font-size: 0.95em;
}

.social-details{
    color: whitesmoke;
    font-size: 0.95em;
}

.social-details{
    color: whitesmoke;
    
}

.social-details a{
    color: whitesmoke;
}

.social-details a:hover{
    color: #fff;
    text-decoration: none;
}



#info-block-container{
    margin: 5px;
    
}

#block-1{
    width: 10%;
    float: left;
    height: 30px;
    margin-top: 0px;

}

#block-2{
    margin-left: 15%;
    height: 50px;
    padding-left: 5px;
    
    line-height: 15px
}

/* Right panel */

#right-panel{
	background-color: #fff;
	height: 100vh;
    
    webkit-box-shadow: 5px 0 15px -2px #888;
          box-shadow: 5px 0 15px -2px #888;
}

#details{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    
    padding-top: 40px;
    padding-left: 40px;
}

#title{
    font-family: 'Raleway', sans-serif;
    
    
    margin: 0px;
    padding: 0px;
    
}

#details{
    
}

#title h1{
    text-transform: uppercase;
    font-size: 60px;
    color: #000;
    font-weight: 800;
/*    font-stretch: expanded;*/
    letter-spacing: 2px; 
    
    margin-bottom: -25px;
    
    
    
}

#sub-title h3{
    text-transform: uppercase;
    font-weight: 700;
}

#sub-title{
    margin: 0px;
    padding: 0px;
}

/* details */

#cv-container{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#cv-inner-container{
    
}

.cv-timeline{
    
}

.cv-details-container{
    font-family: 'Raleway';
}

.cv-title{
    font-size: 1.5em;
    font-weight: 700;
}

.exp-info{
    padding-bottom: 20px;
}

.exp-year{
    width: 11%;
    padding-right: 10px;
    height: 30px;
    
    
}

.exp-details{
    
    padding-left: 10px;
}

.exp-year{
    float: left;
    font-weight: 600;
}

.exp-details-title{
    font-weight: 600;
}